.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Di file App.css atau index.css */
.container {
  max-width: 100% !important;
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.custom-modal-width {
  max-width: 900px; /* Lebih besar dari default lg */
}

.custom-radio .form-check-input[type="radio"] {
  accent-color: #E31F52; /* Untuk browser modern */
}

/* Untuk fallback jika accent-color tidak didukung */
.custom-radio .form-check-input:checked {
  background-color: #E31F52;
  border-color: #E31F52;
}

